* {
    box-sizing: border-box;
}
body {
    background-color: #3494e4;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
h1 {
    margin: 10px 0 0;
    font-weight: 100;
    letter-spacing: 1.5px;
}
h3 {
    font-weight: 200;
    letter-spacing: 1px;
    margin: 10px 0;
}
.cup {
    background-color: #fff;
    border: 2px solid blue;
    border-radius: 0 0 40px 40px;
    color: blue;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.cup.cup-small {
    height: 95px;
    width: 50px;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    transition: 0.3s ease;
    margin: 5px;
}
.cup.cup-small.full{
    background-color:#73baf5;
    color: #fff;
}
.cups {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    align-items: center;
    justify-content: center;
}
.remained {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: 0.3s ease;

}
.remained span {
    font-size: 20px;
    font-weight: bold;
}
.remained small {
    font-size: 12px;
}
.percentage {
    background-color: #73baf5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 0;
    transition: 0.3s ease;
}
.text {
    text-align: center;
    
}